# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List data science libraries
* Data Science tools
* Introducing arithmetic expression examples in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. Pandas
3. Matplotlib
4. TensorFlow
5. PyTorch

|Data Science Tools| 
|-------------| 
|Jupyter| 
|RStudio| 
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [24]:
"This a simple arithmetic expression to mutiply then add integers"
(3*4)+5

17

In [25]:
"This will convert 200 minutes to hours by diving by 60"
200/60

3.3333333333333335

## Author 
Alban Irénée PERRIER